.App {
  font-family: sans-serif;
  text-align: center;
}

.description-card {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.book-container {
  border: 1px solid black;
  width: 500px;
  margin: 50px;
  padding: 30px;
}
